<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Clientes</h1>
    <div *ngIf="getEsAdmin()">
        <a [routerLink]="['/dashboard/customers/new']" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-user fa-sm text-white-50"></i> Nuevo</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body overflow-auto">
                <table class="table table-bordered table-hover round text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Creado</th>
                        <th *ngIf="getEsAdmin()">Opciones</th>
                    </tr>
                    <tr *ngFor="let customer of customers">
                        <td>{{ customer.tradeName || customer.name + " " + customer.lastName}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.createdOn}}</td>
                        <td *ngIf="getEsAdmin()">
                            <a class="btn btn-warning btn-circle" [routerLink]="['/dashboard/customers/edit',customer.id]"><i
                                    class="fas fa-edit" title="Editar"></i></a>
                            <a class="btn btn-danger btn-circle" href="#" data-toggle="modal"
                                data-target="#ModalDelCustomer" (click)="SetSelectemItem(customer.id,customer.tradeName || customer.name + ' ' + customer.lastName )">
                                <i class="fas fa-trash" title="Desactivar"></i>
                            </a>



                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<app-customer-del-modal [id]="idSelected" [customer]="nombreSelected"></app-customer-del-modal>